*{
    margin: 0;
    padding: 0;
}
/* header>nav{
    display: fixed;
    top: 20px;
} */


body{
    font-family: 'Roboto', Helvetica, sans-serif;
    background-image: url(./img/background.jpg);
    color: white;
}
.container{
    margin: 3% 15% 3%;
    /* border: solid black 1px; */
    box-shadow: 0px 0px 20px 15px white;
    background-image: url(./img/containerbackground.jpg);
    border-radius: 15px;
    padding: 30px;
}
.article1{
    display: flex;
    gap: 30px;
    align-items: center;
}
.article1>img, .article2>img{
    width: 350px;
    height: 350px;
    border-radius: 30px;
}
.article2{
    display: flex;
    align-items: center;
    margin-top: 80px;
}
.article3{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article4{
    margin: 80px 0 0 20px;
}
.card{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0 10% 0;
}
.titre{
    font-family: 'Patrick Hand', cursive;
    font-size: 40px;
}
.soustitre{
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}
.button {
    background-color: #d35400;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px 4px;
    cursor: pointer;
  }
.warning{
    text-transform: bold;
    animation-name: fade;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes fade{
    from {color: white;}
    to {color: yellow;}
}

/* header{
    width: 0px;
    height: 0px;
} */
nav{
    display: flex;
    flex-direction: column;
    position: fixed;
    border: solid black 3px;
    height: 200px;
    width: 100px;
    background: url(./img/containerbackground.jpg);
}
a{
    color: white;
    text-decoration: none;
    padding: 10px;
}